annotated-types
anyio
beautifulsoup4
cachetools
certifi
charset-normalizer
colorama
contourpy
cycler
fonttools
google
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-generativeai
googleapis-common-protos
grpcio
grpcio-status
h11
httpcore
httplib2
httpx
idna
joblib
jsonpatch
jsonpointer
kiwisolver
langchain-core
langgraph
langgraph-checkpoint
langgraph-prebuilt
langgraph-sdk
langsmith
lightgbm
matplotlib
narwhals